<div>
	<h2>Ubi Tanques</h2>
	<app-mapa-mostrar-fichas
		*ngIf="data.length > 0"
		[feature]="data"
		poligon="false"
		key_cat="capacidad"
		key_cat_label="capacidad"></app-mapa-mostrar-fichas>
	<div
		class="p-field"
		style="display: flex; justify-content: space-between">
		<div style="margin-bottom: 2rem">
			<label for="search">Buscar:</label>
			<input
				id="search"
				type="text"
				[(ngModel)]="search"
				(input)="onSearchChange()"
				pInputText />
		</div>
		<div>
			<button
				pButton
				type="button"
				label="Configurar Columnas"
				icon="pi pi-cog"
				(click)="openColumnDialog()"></button>
		</div>
	</div>

	<p-table
		[value]="data"
		[rows]="limit"
		(onPage)="onPageChange($event)">
		<ng-template pTemplate="header">
			<tr>
				<!-- Mostrar solo columnas visibles -->
				<th
					*ngFor="let col of columns"
					[hidden]="!col.visible">
					{{ col.header }}
				</th>
			</tr>
		</ng-template>
		<ng-template
			pTemplate="body"
			let-tanque>
			<tr>
				<!-- Mostrar solo valores de columnas visibles -->
				<td
					*ngFor="let col of columns"
					[hidden]="!col.visible">
					{{ tanque[col.field] }}
				</td>
			</tr>
		</ng-template>
	</p-table>

	<p-paginator
		[rows]="limit"
		[totalRecords]="totalRecords"
		[rowsPerPageOptions]="[5, 10, 20]"
		(onPageChange)="onPageChange($event)">
	</p-paginator>

	<!-- Dialog para la configuración de columnas -->
	<p-dialog
		[(visible)]="displayColumnDialog"
		header="Configurar Columnas"
		[style]="{width: '30vw'}"
		modal="true">
		<p-orderList
			[value]="columnOrderList"
			dragdrop="true"
			[responsive]="true"
			listStyle="height:200px">
			<ng-template
				let-column
				pTemplate="item">
				<div
					class="p-d-flex p-ai-center"
					style="display: flex; justify-content: space-between">
					<p-checkbox
						[(ngModel)]="column.visible"
						binary="true"></p-checkbox>
					<span class="p-ml-2">{{ column.header }}</span>
					<p-checkbox
						[(ngModel)]="column.selected"
						binary="true"></p-checkbox>
				</div>
			</ng-template>
		</p-orderList>
		<p-footer>
			<button
				pButton
				type="button"
				label="Guardar"
				icon="pi pi-check"
				(click)="saveColumnSettings()"></button>
			<button
				pButton
				type="button"
				label="Cancelar"
				icon="pi pi-times"
				(click)="displayColumnDialog = false"></button>
		</p-footer>
	</p-dialog>
</div>
